.container{margin-bottom: 100px;}
.carousel-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding:20px 40px ;
}
.carousel-price{
    color: #FF136f;
}
.buy-now-button{
    border-radius: 8px;
    color: #ffffff;
    padding: 8px 16px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136f 100%);
    border: none;
    cursor: pointer;
}
.cat1{
    background-image: linear-gradient(to bottom, pink 0%, #FF136f 100%);
    
}
.cat2{
    background-image: linear-gradient(to bottom, blue 0%, #FF136f 100%);
    
}
.cat3{
    background-image: linear-gradient(to bottom, purple 0%, #FF136f 100%);
  
}
.cat1,.cat2,.cat3{
    padding: 20px 30px;
    color: #ffffff;
    border-radius: 10px;
}